
@media (max-width: 575px) {
    #content {
        margin-top: 4.7rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 4.5rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #content {
        margin-top: 4.7rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 4.5rem;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    #content {
        margin-top: 4.7rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 4.5rem;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (max-width: 768px) and (min-height: 1024px){

}
@media (max-width: 1600px) and (min-width: 1200px){

}